.grid-principal-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Separación entre los grids de 5px */
  
    .grid-container-image {
      flex: 1; /* Ocupa el espacio disponible */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
  
      .img-content-grid {
        padding: 0;
      }
  
      .text-content-grid {
        padding: 0;
        text-align: center; /* Centra el contenido horizontalmente */
      }
    }
  }
  
  .img-shopping-cart {
    height: 200px;
    width: auto;
  }

  .row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .img-content-grid {
    padding: 0;
  }
  
  .text-content-grid {
    position: relative;
    text-align: center;
    margin: 5px;
  }

  .text-content-grid-box{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 5px;
  }
  
  .text-content-grid-box p {
    margin-right: 5px; /* Agrega un margen de 5px a la derecha del párrafo */
  }

  .checkbox {
    position: relative;
    z-index: 2;
  }