.img-shopping-cart{
    height: 200px;
    width: auto;
}

.grid-principal-container{
    background-color: #b4dbf9;
    padding: 0;

    .img-content-grid{
        padding: 0;
    }

    .text-content-grid{
        padding: 0;
    }
}
