.content{
  padding: 20px 150px;
  .seccion1 {
    margin-top: 15px;
    height: auto;
    background-color: #0e6db0;
    background-image: linear-gradient(135deg, #023E7D, #5C677D, #33415C);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
  }
  .seccion2 {
    margin-top: 15px;
    height: auto;
    background-color: #0e6db0;
    background-image: linear-gradient(135deg, #023E7D, #5C677D, #33415C);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
  }
  .seccion3 {
    margin-top: 15px;
    height: auto;
    background-color: #0e6db0;
    background-image: linear-gradient(135deg, #023E7D, #5C677D, #33415C);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
  }
  .seccion4 {
    margin-top: 15px;
    height: 500px;
    background-color: #0e6db0;
    background-image: linear-gradient(135deg, #023E7D, #5C677D, #33415C);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1px 20px;
  }
  .seccion5 {
    margin-top: 15px;
    height: 500px;
    background-color: #0e6db0;
    background-image: linear-gradient(135deg, #023E7D, #5C677D, #33415C);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1px 20px;
  }
}


.App {
  position: relative;
  background-color: white;
  font-family: Microsoft Sans Serif;
}

.floating-menu {
  position: fixed;
  top: 50%;
  right: -300px;
  width: 30px;
  height: 175px;
  background: linear-gradient(45deg, #33415C, #0466C8);
  transition: right 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
}

.floating-menu.show {
  left: 0;
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.icono-1.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  .svg-icon {
    fill: #5C677D;
  }
}
.icono-2.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  .svg-icon {
    fill: #5C677D;
  }
}
.icono-3.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  .svg-icon {
    fill: #5C677D;
  }
}
.icono-4.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  .svg-icon {
    fill: #5C677D;
  }
}
.icono-5.active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  .svg-icon {
    fill: #5C677D;
  }
}

.icono {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .svg-icon {
    height: 28px;
    width: auto;
    fill: black;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
    border-radius: 50%;
  }

  &:hover {
    .svg-icon {
      fill: aliceblue;
    }

    &::before {
      opacity: 0.7;
    }
  }
}

.svg-icon:hover {
  fill: aliceblue;
}



.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color:#0eb07d;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  border-radius: 15px;
  justify-content: flex-end; /* Alinea a la derecha */
  align-items: center;
}

.button-fab-favorite-cart {
  display: flex;
  align-items: space-between;
  justify-content: flex-end;
  width: 100%;
  & > *:not(:last-child) {
    margin-right: 5px; 
  }
}