.slider_noticias_container {
    padding: 40px;
  }
  
  button.slick-arrow.slick-next::before{
    font-size: 55px;
    position: absolute;
    right: 0;
    color: black;
  }

  button.slick-arrow.slick-prev::before{
    font-size: 55px;
    position: absolute;
    left: 0;
    color: black;
  }

  .slick-dots {
    bottom: -40px;
    color: #fff;
  }

  .image{
    width: 600px;
    height: auto;
  }