.privacy-content {
  padding: 20px 150px;
  height: 1000px;
  background-color: white;
  .privacy-card {
    margin-top: 15px;
    height: auto;
    background-color: #666;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    .arrow-back {
      a {
        display: flex;
        position: relative;
        margin: 15px;
    
        svg {
          font-size: 2em; 
          fill: black; 
          transition: font-size 0.3s, fill 0.3s; 
        }
    
        &:hover {
          svg {
            font-size: 4em; 
            fill: white; 
          }
        }
      }
    }
  }
}

.header {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #666;

  .div {
    width: 20%;
    height: 100px;
    position: static;
    margin: 20px 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-style {
    color: white;
  }
}
